/* Write Your CSS Below 


Colors: 
- rgb(243, 183, 106)
- yellow
- rgb(241, 117, 0)
- red
- #f3b76a
- #f17500
- #0d6e00
- #6d00fb
- #dbff39
- #74c9f1
- #fb4040

Sizes: 
- 100%
- 70%
- auto
- 1.5em
- 3rem
- .5em

Font: 
- Copperplate (You can also use any font that you'd like!)

Images: 
- "https://i.pinimg.com/236x/d6/3f/56/d63f563519df0ece564b82c72e9e306c.jpg"
    - (You may use any image you would like for the background!)
*/

/* style.css */

/* Set the background color and background image for the entire page */
body {
    background-color: yellow;
    background-image: url("https://i.pinimg.com/236x/d6/3f/56/d63f563519df0ece564b82c72e9e306c.jpg");
    background-size: 100%;
    font-family: Copperplate, sans-serif;
    color: red;
    text-align: center;
    padding: 20px;
    margin: 0;
}

h1 {
    font-size: 3rem;
    color: darkblue;
}

#row1-section1 img,
#row2-section-1 img {
    height: 400px;
    width: 600px;
}

p {
    font-size: 1.5em;
    color: blue;
    text-align: center;
    margin: 10px;
}

a {
    text-decoration: none;
    color: #6d00fb;
    text-shadow: 2px 2px #dbff39;
}

#row1-section1,
#row2-section-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.row img,
.row p {
    width: 30%;
    margin: 10px;
}
